<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Fake news predicter</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static '/img/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    />
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/Login-Form-Dark.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/css/Registration-Form-with-Photo.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body id="page-top">
    <section id="projects">
      <h2
        class="text-uppercase"
        style="
          color: var(--gray-dark);
          border-color: var(--gray-dark);
          text-align: center;
        "
      >
        News
      </h2>
      <h3
        class="text-uppercase"
        style="
          color: var(--yellow);
          border-color: var(--gray-dark);
          text-align: center;
        "
      >
        "{{ result.title }}"
      </h3>
      <div
        class="container"
        style="align-items: center; max-width: fit-content"
      >
        <div class="row" style="width: fit-content; align-content: center">
          <div class="col-lg-12 text-center">
            <div
              class="table-responsive"
              style="border-style: none; align-content: center"
            >
              <table class="table">
                <thead style="border-style: solid">
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 520px;
                        vertical-align: middle;
                      "
                    >
                      ID
                    </th>
                    <td id="id">{{ result.uuid }}</td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 350px;
                        vertical-align: middle;
                      "
                    >
                      TITLE
                    </th>
                    <td>
                      <p>{{ result.title }}</p>
                    </td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 520px;
                        vertical-align: middle;
                      "
                    >
                      CONTENT
                    </th>
                    <td>
                      <p>{{ result.content }}</p>
                    </td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 120px;
                        vertical-align: middle;
                      "
                    >
                      TITLE CONFIDENCE SCORE
                    </th>
                    <td>
                      <p>{{ result.title_score }}</p>
                    </td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 120px;
                        vertical-align: middle;
                      "
                    >
                      CONTENT CONFIDENCE SCORE
                    </th>
                    <td>
                      <p>{{ result.content_score }}</p>
                    </td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 120px;
                        vertical-align: middle;
                      "
                    >
                      LABEL
                    </th>
                    <td>
                      <p>{{ result.label }}</p>
                    </td>
                  </tr>
                  <tr style="border-style: solid; border-color: rgb(0, 0, 0)">
                    <th
                      style="
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        width: 120px;
                        vertical-align: middle;
                      "
                    >
                      LINK
                    </th>
                    <td>
                      <p>
                        <a href="{{ result.link }}" target="_blank"
                          >{{ result.link }}</a
                        >
                      </p>
                    </td>
                  </tr>
                </thead>
              </table>
              <div style="display: flex; justify-content: center">
                <button
                  class="btn btn-primary"
                  style="
                    background: var(--gray-dark);
                    border-color: var(--white);
                    color: var(--white);
                  "
                  onclick="valid_news()"
                >
                  VALID
                </button>
                <button
                  class="btn btn-primary"
                  style="
                    background: var(--gray-dark);
                    border-color: var(--white);
                    color: var(--white);
                  "
                  onclick="fake_news()"
                >
                  FAKE
                </button>
              </div>
              <br />
              <br />
              <br />
              <br />
              <br />
              <a href="/contribute"
                ><button
                  class="btn btn-primary"
                  style="
                    background: var(--gray-dark);
                    border-color: var(--white);
                    color: var(--white);
                  "
                >
                  BACK
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright&nbsp;© Lihor 2022</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/IoachimLihor" target="_blank"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.facebook.com/profile.php?id=100009397325432"
                  target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.linkedin.com/in/ioachim-lihor-61b528187/"
                  target="_blank"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item"></li>
              <li class="list-inline-item"></li>
            </ul>
          </div>
        </div>
      </div>
      <script>
        var valid_news = function () {
          let id = document.getElementById("id").innerText;
          console.log(id);

          $.post(
            "/validate_news",
            { id: id, csrfmiddlewaretoken: "{{ csrf_token }}" },
            function (data, status) {
              location.reload();
            }
          );
        };
        var fake_news = function () {
          let id = document.getElementById("id").innerText;
          console.log(id);

          $.post(
            "/fake_news",
            { id: id, csrfmiddlewaretoken: "{{ csrf_token }}" },
            function (data, status) {
              location.reload();
            }
          );
        };
      </script>
    </footer>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/js_check.js' %}"></script>
    <script src="{% static '/js/js_label.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static '/js/agency.js' %}"></script>
  </body>
</html>
